<html>
    <head></head>
    <body>
        <H1>Services Offered</H1>
        <ul>
            <li>
                Lab Services
            </li>
            <li>
                Scan Services
            </li>
            <li>
                Insurance Services
            </li>
        </ul>
    </body>
</html>